# Ambiente virtual
.venv/
.venv-*/

# Dados
data/raw/*
data/processed/*
data/quarantine/*

# Manter estrutura das pastas
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/quarantine/.gitkeep

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/